@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
.Navbar{
  background-color: #00321A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo-img{
  height: 100px;
  width: 100px;
  margin-left: 30px;
}
.main-navbar-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links{
    padding: 0px 40px 0px 40px;
    list-style-type: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.navbar-links-button{
  background-color: #C1FF72;
  padding: 10px 20px 10px 20px;
  color: #00321A;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  font-size: 20px;
}

/* ************************HERO SECTION CSS**************************/

.main-hero-section{
  height: 300px;
  width: 100%;
  display: flex;
}

.left-hero-section{
  height: auto;
  width: 50%;
  padding-top: 10%;
  padding-left: 30px;
}
.left-hero-upper-text{
    font-size: 50px;
    color: #00321A;
    padding: 5px;
}
.left-hero-lower-text{
    font-size: 30px;
    color: #00321A;
    padding: 5px;
}
.right-hero-section{
  width: 50%;
}
.right-hero-section-video{
  height: auto;
  width: 100%;
}
.button-margin{
  margin-top: 50px;
}