.contact_section{
    padding: 50px 30px 50px 30px;
}

.contact_section h1{
    font-size: 50px;
    font-weight: 800;
    color: #C1FF72;
    text-shadow: 2px 2px #00321A;
}

.contact_section p{
    font-size: 16px;
    font-weight: 500;
    color: #00321A;
    padding-top: 20px;
}